.d-flex {
  display: flex;
}

.position-bottom {
  position: relative;
  top: 42px;
}

.icon-design {
  margin-left: 4px;
  position: relative;
  bottom: 2px;
}

.before-like { 
  color: #adadad;
  opacity: 0.8;
  text-shadow: -3px -8px 9px #f78aa0
}

.after-like {
  color: red;
  opacity: 0.8;
  text-shadow: -3px -8px 9px #f78aa0
}

.cursor-pointer {
  cursor: pointer;
}