.d-flex {
  display: flex;
}

.position-bottom {
  position: relative;
  top: 42px;
}

.icon-design {
  color: #1e7e34;
  margin-left: 4px;
  opacity: 0.8;
  position: relative;
  bottom: 2px;
}

.cursor-pointer {
  cursor: pointer;
}