.bg-white {
  background-color: white;
}

.full-height {
  height: 100vh;
}

.padding-10 {
  padding: 10px;
}

.border-radius-50 {
  border-radius: 50%;
}

.cursor-pointer {
  cursor: pointer;
}

.right-div {
  display: inline-block;
  float: right;
}

.form-design {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 15px;
  background: #fffef5;
}
/* .form-group.row:nth-child(odd) {
  background: #eee;
} */
.form-group.row {
  margin-bottom: 0;
  padding: 5px 0;
}
.form-group.row input:focus {
  outline: none;
}
h2.text-left {
  margin-bottom: 20px;
  color: #828282;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1px;
}
.col-md-4{
  padding-left: 0px !important; 
}
.col-md-8{
    display: flex;
    flex-direction: column;
    justify-content: center;
}